html, body {
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  
  background: #F55A5A;
}

header > img {
  width: 24px;
  margin-right: 7px;
}

header > span {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.9rem;
  
  color: #FFFFFF;
}

